In [1]:
# from django.shortcuts import render
# from django.http import HttpResponse
# # from django_pandas.io import read_frame
# from AffordableLiving.models import Properties
# from django_pandas.io import read_frame
# from django.template import loader
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
# from geopy.geocoders import Nominatim
import logging
from math import sin, cos, sqrt, atan2, radians
import sklearn.metrics
import json
# from django.http import JsonResponse
# from django.views.decorators.csrf import csrf_exempt
import csv
import datetime

engine = create_engine('mysql://root:1234@localhost:3306/uday')

In [88]:
todayDate = datetime.date.today()
print(todayDate)
# print(type(properties.at[157, 'availfrom']))
fromDate = datetime.datetime.strptime((properties.at[40, 'availfrom']), '%Y-%m-%d')
print((todayDate - fromDate).days)

2019-07-15

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'datetime.datetime'

In [35]:
propertyIds = [33,34,36,38]

qdata = '('
for i in propertyIds:
    if (i != propertyIds[0]):
        qdata += ', '
    qdata += str(i)
qdata += ')'
print('properties : ',qdata)

propertiesQuery = "select * from properties p where p.id in " + qdata
properties = pd.read_sql_query(propertiesQuery, engine, index_col='id')

logsQuery = "select * from propusers p where p.property_id in " + qdata + " and p.pendingdeposite = 0"
propertyUsers = pd.read_sql_query(logsQuery, engine, index_col='id')

roomsQuery = "select * from roomz r where r.property_id in "+ qdata
rooms = pd.read_sql_query(roomsQuery, engine, index_col='id')
    # roomIds = list(dict.fromkeys(propertyUsers.room_id.tolist()))

propertyVacancyAge = pd.DataFrame([], index = propertyIds, columns = ['vacancyAge'])
todayDate = datetime.date.today()

for propertyId in propertyIds:
    print("property Id: ",propertyId)
    vacancyAge = []
    condition = propertyUsers['property_id'] == propertyId
    individualProperty = propertyUsers[condition]
    
    # If the Individual property has no past tenants ---------------------------- Test case 1
    
    if(individualProperty.shape[0] == 0):
#         todayDate = date.today()
#         print(propertyId)
        fromDate = datetime.datetime.strptime((properties.at[propertyId, 'availfrom']), '%Y-%m-%d').date()
#         fromDate = (datetime.datetime.strptime((properties.at[propertyId, 'availfrom']), '%Y-%m-%d').date())
        propertyVacancyAge.at[propertyId,'vacancyAge'] = (todayDate - fromDate).days
        continue
    
    roomIds = list(dict.fromkeys(individualProperty.room_id.tolist()))
    
#     print(roomIds[-1:][0])
    
#     if(roomIds[-1:][0] == 0 and roomIds[0] != 0):
        
    
    
    
    if(0 in roomIds):
        roomIds.remove(0)
        
    # If the property is only listed for whole property --------------------------- Test case 3 
    if(len(roomIds) == 0):
        exit_dates_str = list(dict.fromkeys(individualProperty.exit_date.tolist()))
        exit_dates = []
        for exit_date in exit_dates_str:
            fromDate = datetime.datetime.strptime(exit_date, '%Y-%m-%d').date()
            exit_dates.append((todayDate - fromDate).days)
        
        vacancy_age = min(exit_dates)
        
        propertyVacancyAge.at[propertyId, 'vacancyAge'] = vacancy_age
        print(propertyVacancyAge.at[propertyId, 'vacancyAge'])
        continue
        
        
    for roomId in roomIds:
        # If there ard no available beds in a room ----------------------------- Test case 2
        print('\t room Id: ',roomId)
        condition = rooms.index == roomId
        particularRoom = rooms[condition]
        if(particularRoom.shape[0] != 0):
            if(rooms.at[roomId, 'availablebed'] == 0):
                vacancyAge.append(0)
            else:
                total_beds = int(rooms.at[roomId,'totalbed'])
                condition = (propertyUsers['room_id'] == roomId)
                roomDetails = propertyUsers[condition]
                exitDates = list(roomDetails.exit_date)
                print('available Beds:',rooms.at[roomId, 'availablebed'])
                print('total Beds:',rooms.at[roomId,'totalbed'])
                count = 0
#                 for x in exitDates:
#                     if(x == ''):
#                         count += 1
                exitDays = []
                for x in exitDates:
                    if(x == ''):
                        count += 1
                    else:
                        fromDate = datetime.datetime.strptime(x, '%Y-%m-%d').date()
                        exitDays.append((todayDate - fromDate).days)
                vacancyAge.append(min(exitDays))
                
                roomDetails = roomDetails[-1 * (total_beds) : ]
                
    
    if(len(vacancyAge) != 0):            
        propertyVacancyAge.at[propertyId, 'vacancyAge'] = sum(vacancyAge) / len(vacancyAge)

properties :  (33, 34, 36, 38)
property Id:  33
668
property Id:  34
property Id:  36
	 room Id:  89
	 bleh
	 room Id:  91
	 bleh
	 room Id:  90
	 bleh
property Id:  38
	 room Id:  98
	 bleh
	 room Id:  97
	 bleh
	 room Id:  96
available Beds: 2
total Beds: 1
['2017-08-19', '2018-09-30', '2019-05-29', '']

In [29]:
propertyVacancyAge

   vacancyAge
33        668
34       1038
36          0
38          0

In [27]:
rooms

,name,property_id,sqftsuper,image,images,type,sharetype,rent,parkingcharges,deposite,...,tenure,windows,plugpoints,lights,tubelights,fans,showbulbs,balconylights,commpercentage,tds
id,,,,,,,,,,,,,,,,,,,,,
81,ROOM 1,33,110,0,,single,0,10500,1500,31500,...,6,,,,,,,,0.00,0.00
82,ROOM 2,33,128,0,,single,0,10900,1500,32700,...,6,,,,,,,,0.00,0.00
83,ROOM 3,33,100,0,,single,0,9900,1500,29700,...,6,,,,,,,,0.00,0.00
84,ROOM 1,34,110,0,,single,0,9900,750,29700,...,6,,,,,,,,0.00,0.00
85,ROOM 2,34,128,0,,single,0,9900,750,29700,...,6,,,,,,,,0.00,0.00
86,ROOM 3,34,100,0,,single,0,8900,750,26700,...,6,,,,,,,,0.00,0.00
89,ROOM 1,36,110,0,,single,0,16900,1500,50700,...,6,,,,,,,,0.00,0.00
90,ROOM 2,36,110,0,,single,0,17900,1500,53700,...,6,,,,,,,,0.00,0.00
91,ROOM 3,36,110,0,,shared,0,18900,1500,56700,...,6,,,,,,,,0.00,0.00